@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Lighter";
  src: url("./OpenSans-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("./Lato-Regular.ttf");
}
